doctype html
html
  head
    title= title
    //if lte IE 8
      script(src='/javascripts/ie/html5shiv.js')
    link(rel='stylesheet', href='/stylesheets/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='/stylesheets/ie8.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/custom.css')
  body
    block content
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/javascripts/jquery.scrolly.min.js')
    script(type='text/javascript', src='/javascripts/jquery.poptrox.min.js')
    script(type='text/javascript', src='/javascripts/skel.min.js')
    script(type='text/javascript', src='/javascripts/util.js')
    //if lte IE 8
      script(type='text/javascript', src='/javascripts/ie/respond.min.js')
    script(type='text/javascript', src='/javascripts/main.js')
    script(type='text/javascript', src='/build/bundle.js')
