doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='/stylesheets/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/login.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/custom.css')
    body.login-page
        .container
            .card
            .card
                if (alertMessage.length > 0)
                    p.alert-message
                        | #{alertMessage}
                h1.title Login
                form(action='/login', method='post')
                    .input-container
                        input(name='username', type='text', required='required', autocomplete='off')
                        label Username
                        .bar
                    .input-container
                        input(name='password', type='password', required='required', autocomplete='off')
                        label Password
                        .bar
                    .button-container
                        button
                            span Go
            .card.alt
                .toggle
                h1.title
                    | Register
                    .close
                form(action='/signup', method='post')
                    .input-container
                        input(name='username', type='text', required='required', autocomplete='off')
                        label Username
                        .bar
                    .input-container
                        input(name='firstName', type='text', required='required', autocomplete='off')
                        label First Name
                        .bar
                    .input-container
                        input(name='lastName', type='text', required='required', autocomplete='off')
                        label Last Name
                        .bar
                    .input-container
                        input(name='password', id='password', type='password', required='required', autocomplete='off')
                        label Password
                        .bar
                    .input-container
                        input(name='confirmPassword', id='confirmPassword', type='password', required='required', autocomplete='off')
                        label Confirm Password
                        .bar
                    .button-container
                        button
                            span Next
        script(type='text/javascript', src='/javascripts/jquery.min.js')
        script(type='text/javascript', src='/javascripts/login.js')
        script(type='text/javascript', src='/javascripts/custom.js')
