doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='/stylesheets/login.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/custom.css')
  body.login-page
    .form
      .thumbnail
        img(src='/images/login-logo.png')
      if (alertMessage.length > 0)
        p.alert-message= alertMessage
      form.login-form(action='/login', method='post')
        label(for='loginUsername') Username&nbsp;
          span.required *
        input(id='loginUsername', name='username', type='text', placeholder='Username', required='required', autocomplete='off')
        label(for='loginPassword') Password&nbsp;
          span.required *
        input(id='loginPassword' name='password', type='password', placeholder='Password', required='required', autocomplete='off')
        button Login
        p.message Not registered?&nbsp;
          a(href='#') Create an account
      form.register-form(action='/signup', method='post')
        label(for='username') Username&nbsp;
          span.required *
        input(id='username', name='username', type='text', placeholder='Username', required='required', autocomplete='off')
        label(for='firstName') Full Name&nbsp;
          span.required *
        .input-container
          input(id='firstName', name='firstName', type='text', placeholder='First Name', required='required', autocomplete='off')
          input(name='lastName', type='text', placeholder='Last Name', required='required', autocomplete='off')
        label(for='password') Password&nbsp;
          span.required *
        .input-container
          input(name='password', id='password', type='password', placeholder='Password', required='required', autocomplete='off')
          input(name='confirmPassword', id='confirmPassword', type='password', placeholder='Confirm Password', required='required', autocomplete='off')
        button Create
        p.message Already registered?&nbsp;
          a(href='#') Sign In
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/javascripts/login.js')
    script(type='text/javascript', src='/javascripts/custom.js')
