doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='/stylesheets/login.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/custom.css')
    body.login-page
        .form
            .thumbnail
                img(src='/images/login-logo.png')
            if (alertMessage.length > 0)
                p.alert-message
                    | #{alertMessage}
            form.login-form(action='/login', method='post')
                input(name='username', type='text', placeholder='username', required='required', autocomplete='off')
                input(name='password', type='password', placeholder='password', required='required', autocomplete='off')
                button login
                p.message Not registered?&nbsp;
                    a(href='#') Create an account
            form.register-form(action='/signup', method='post')
                input(name='username', type='text', placeholder='username', required='required', autocomplete='off')
                .input-container
                    input(name='firstName', type='text', placeholder='first name', required='required', autocomplete='off')
                    input(name='lastName', type='text', placeholder='last name', required='required', autocomplete='off')
                .input-container
                    input(name='password', id='password', type='password', placeholder='password', required='required', autocomplete='off')
                    input(name='confirmPassword', id='confirmPassword', type='password', placeholder='confirm password', required='required', autocomplete='off')
                button create
                p.message Already registered?&nbsp;
                    a(href='#') Sign In
        script(type='text/javascript', src='/javascripts/jquery.min.js')
        script(type='text/javascript', src='/javascripts/login.js')
        script(type='text/javascript', src='/javascripts/custom.js')
