body
{
    overflow-y: scroll;
}
body.login-page .form
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body.login-page .alert-message
{
    color: #a93127;
    font-size: 17px;
    margin: 10px 60px;
}
body.login-page .form
{
    max-width: 350px;
    width: 100%;
}
body.login-page .form .input-container input
{
    width: 48%;
}
body.login-page .form .input-container input:first-child
{
    margin-right: 1%;
}
body.login-page .form .input-container input:last-child
{
    margin-left: 1%;
}
section.loading-animation
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section.loading-animation > div
{
    height: 65px;
    width: 65px;
}
section.loading-animation > div > div
{
    background-color: #35b88f;
    height: 21px;
    width: 21px;
}