body
{
    overflow-y: scroll;
}
body.login-page .form
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body.login-page .alert-message
{
    color: #a93127;
    font-size: 17px;
    margin: 10px 60px;
}
body.login-page .form
{
    max-width: 350px;
}