body
{
  background-image: none;
  font-size: 12pt;
  overflow-y: scroll;
}
a
{
  cursor: pointer;
}
hr
{
  margin: 0.2em 0;
}
input,
select
{
  font-size: 12.01pt;
}
body.login-page
{
  background-color: #35b88f;
}
body.login-page .form
{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body.login-page .form .thumbnail
{
  height: 180px;
  width: 180px;
  padding: 21px 21px;
}
body.login-page p
{
  text-align: center;
}
body.login-page p.alert-message
{
  color: #a93127;
  font-size: 17px;
  margin: 10px 60px;
}
body.login-page .form
{
  max-width: 350px;
  text-align: left;
  width: 100%;
}
body.login-page .form label
{
  color: #555555;
  font-size: 14px;
  padding: 0 0 0 3px;
}
body.login-page .form input,
body.login-page .form .input-container input
{
  margin: 0 0 5px 0;
}
body.login-page .form .input-container input
{
  width: 48%;
}
body.login-page .form .input-container input:first-child
{
  margin-right: 1%;
}
body.login-page .form .input-container input:last-child
{
  margin-left: 1%;
}
body.login-page .form p.message
{
  font-size: 14px;
}
.container
{
  width: 700px;
}
section.loading-animation
{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.loading-animation > div
{
  height: 65px;
  width: 65px;
}
section.loading-animation > div > div
{
  background-color: #35b88f;
  height: 21px;
  width: 21px;
}
section#banner
{
  padding: 3em 0;
}
section#banner h1
{
  font-weight: 600;
  font-size: 2em;
  letter-spacing: 10px;
}
article.container header
{
  margin: 0.5em 0;
}
article.container header i.fa
{
  color: #ff525c;
}
article.container header h3
{
  text-transform: none;
}
input[type="button"].style3,
input[type="submit"].style3,
input[type="reset"].style3,
button.style3,
.button.style3
{
  background: #cccddd;
  color: #3a3939;
  box-shadow: inset 0 0 0 1px #cccddd;
}
input[type="button"].style3:hover,
input[type="submit"].style3:hover,
input[type="reset"].style3:hover,
button.style3:hover,
.button.style3:hover
{
  background: #dddddd;
  color: #151515;
}
input[type="button"].style4,
input[type="submit"].style4,
input[type="reset"].style4,
button.style4,
.button.style4
{
  background: #151515;
  color: #35b882;
  box-shadow: inset 0 0 0 1px #151515;
}
input[type="button"].style4:hover,
input[type="submit"].style4:hover,
input[type="reset"].style4:hover,
button.style4:hover,
.button.style4:hover
{
  background: rgba(58, 57, 57, 0.025);
  color: #151515;
}
input[type="button"].style5,
input[type="submit"].style5,
input[type="reset"].style5,
button.style5,
.button.style5
{
  background: #e14222;
  color: #ffffff;
  box-shadow: inset 0 0 0 1px #e14222;
}
input[type="button"].style5:hover,
input[type="submit"].style5:hover,
input[type="reset"].style5:hover,
button.style5:hover,
.button.style5:hover
{
  background: #e0644b;
}
article.box.style3
{
  padding: 1em 4em;
}
article a.button
{
  padding: 0.5em 1.5em;
}
article.complete {
  background-color: #555555 !important;
  color: #ffffff !important;
}
article.complete ul.complete
{
  color: #3a3939 !important;
}
span.required
{
  color: #ee3926;
}
@media screen and (max-width: 736px)
{
  section#banner h1
  {
      font-size: 1.75em;
      letter-spacing: 6px;
  }
}
